
<body>
  <div class="navigation-bar">
    <div id="navigation-container">
      <a routerLink="home"><img class ="img1" src="assets/nmslogo.png" onmouseover="this.src='assets/nmslogohover.jpeg'" onmouseout="this.src='assets/nmslogo.png'"></a>
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="todo">To-Do Boards</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="guides">Guides</a></li>
        <li><a routerLink="support">Support</a></li>
      </ul>
      <a routerLink="login"><img class ="img2" src="assets/profileUnknown.png" onmouseover="this.src='assets/profileUnknownHover.png'" onmouseout="this.src='assets/profileUnknown.png'"></a>
    </div>
  </div>
  <router-outlet></router-outlet>

